---
import type { Integrante } from "../../content/integrantes/integrantes";

interface Props {
  integrante: Integrante;
}

const { integrante } = Astro.props;
---

<div class="p-2 rounded shadow">
  <div class="w-full h-96">
    <img
      src={integrante.imagen}
      class="object-cover w-full h-full"
      alt="Imagen del Integrante"
    />
  </div>
  <p class="my-3 text-center text-gray-500 font-semibold">
    {`${integrante.puesto}. ${integrante.nombre}`}
  </p>
</div>
