---
import ImagenGaleria from "../components/galeria/ImagenGaleria.astro";
import Banner from "../components/shared/Banner.astro";
import Heading from "../components/shared/Heading.astro";
import Layout from "../layout/Layout.astro";
import { imagenes } from "../interfaces/galeria/galeria";
---

<Layout titulo="Centro Integral Veterinario - Galeria">
  <Banner imgSrc="banner-galeria.jpg" />
  <section class="mt-10 w-[90%] mx-auto">
    <Heading texto="Nuestra" span="Galeria" />
    <p class="my-5 text-lg text-gray-500 ">
      ¡Obtenga más información sobre nuestro hospital veterinario a través de
      nuestra galería de fotos! Verá nuestras instalaciones, nuestro personal
      compasivo, veterinarios experimentados y algunos de nuestros amigos
      peludos. Comuníquese con nosotros pronto para programar una cita.
    </p>
    <div class="grid grid-flow-dense grid-cols-2 md:grid-cols-3 gap-5 my-10">
      {
        imagenes.map((imagen) => (
          <ImagenGaleria imagen={imagen} />
        ))
      }
    </div>
  </section>
</Layout>
