---
import Banner from "../components/shared/Banner.astro";
import Enlace from "../components/shared/Enlace.astro";
import Heading from "../components/shared/Heading.astro";
import LineSeparator from "../components/shared/LineSeparator.astro";
import Layout from "../layout/Layout.astro";
import IntegrantesCard from "../components/nosotros/IntegrantesCard.astro";

import { integrantes } from "../content/integrantes/integrantes";
import Horario from "../components/shared/Horario.astro";
import UbicacionMapa from "../components/shared/UbicacionMapa.astro";
---

<Layout titulo="Centro Integral Veterinario | Sobre Nosotros">
  <Banner imgSrc="banner-nosotros.jpg" />
  <section class="mt-10 w-[90%] mx-auto overflow-hidden">
    <Heading texto="Sobre" span="Nosotros" />
    <div
      class="flex flex-col-reverse gap-3 sm:flex-row sm:justify-evenly sm:items-center m-10"
    >
      <div class="sm:flex-col sm:gap-10 sm:w-1/2">
        <h3 class="text-xl text-center sm:text-left sm:text-4xl">
          ¿Quiénes Somos?
        </h3>
        <p
          class="text-lg text-center mt-2 sm:text-left sm:text-xl text-gray-500"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          eligendi nobis cupiditate accusantium illum praesentium nihil, beatae
          tempore officia architecto distinctio molestias sunt odit veritatis
          dolores harum ad aspernatur velit.
        </p>
      </div>
      <div class="rounded overflow-hidden w-full sm:w-1/2">
        <img src="banner-nosotros.jpg" alt="Imagen del equipo de trabajo" />
      </div>
    </div>

    <LineSeparator />

    <div class="grid sm:grid-cols-2 gap-2 sm:items-center">
      <div class="hidden sm:block overflow-hidden rounded-xl">
        <img src="banner-nosotros.jpg" alt="Imagen de Mision" />
      </div>
      <div>
        <h3 class="text-xl text-center sm:text-4xl">Mision</h3>
        <p class="text-lg text-center mt-2 sm:text-xl text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          expedita delectus error cumque quas placeat dolor in dicta similique
          porro quibusdam enim autem eos eius amet nemo, itaque alias nulla?
        </p>
      </div>
    </div>

    <div class="grid sm:grid-cols-2 gap-2 sm:items-center mt-10">
      <div>
        <h3 class="text-xl text-center sm:text-4xl">Vision</h3>
        <p class="text-lg text-center mt-2 sm:text-xl text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          expedita delectus error cumque quas placeat dolor in dicta similique
          porro quibusdam enim autem eos eius amet nemo, itaque alias nulla?
        </p>
      </div>
      <div class="hidden sm:block overflow-hidden rounded-xl">
        <img src="banner-nosotros.jpg" alt="Imagen de Mision" />
      </div>
    </div>

    <LineSeparator />

    <div>
      <h3 class="text-xl text-center sm:text-4xl">Nuestro Equipo</h3>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-3 mt-5">
        {
          integrantes.map((integrante) => (
            <IntegrantesCard integrante={integrante} />
          ))
        }
      </div>
    </div>
    <LineSeparator />

    <div>
      <h3 class="text-xl text-center sm:text-4xl">
        Visítanos en Nuestros Horarios
      </h3>
      <div class="grid sm:grid-cols-2 gap-2 mt-5 px-2">
        <UbicacionMapa clases="w-full" />
        <Horario />
      </div>
    </div>

    <Enlace href="#" texto="Agendar Cita" />
  </section>
</Layout>
