---
import Banner from "../components/shared/Banner.astro";
import Enlace from "../components/shared/Enlace.astro";
import Heading from "../components/shared/Heading.astro";
import TestimonioCard from "../components/testimonios/TestimonioCard.astro";
import Layout from "../layout/Layout.astro";


import { testimonios } from "../content/testimonios/testimonios";
---

<Layout titulo="Centro Integral Veterinario - Testimoniales">
  <Banner imgSrc="banner-testimonios.jpg" />
  <section class="mt-10 w-[90%] mx-auto overflow-hidden">
    <Heading texto="Mascotas" span="Felices" />
    <p class="my-5 text-lg text-gray-500 font-thin">
      Conozca la experiencia de quienes han confiado en nosotros para cuidar de
      sus mascotas. En esta sección, compartimos las historias y opiniones de
      nuestros clientes satisfechos, quienes encontraron en nuestro hospital
      veterinario la atención, dedicación y amor que sus amigos peludos merecen.
      ¡Nos enorgullece ser parte de su bienestar!
    </p>
    <div class="grid sm:grid-cols-2 gap-3">
      {
        testimonios.map((testimonio, index) => (
          <TestimonioCard testimonio={testimonio} index={index} />
        ))
      }
    </div>
    <Enlace href="#" texto="Agendar Cita" />
  </section>
</Layout>
